.navbar {
  max-height: 5.5rem;
}

.navbar.flex {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.625rem;
  margin: 0.5rem;
}

.button {
  padding: 0.75rem 1.5rem;
  background-color: #ffffff;
  color: #146eb4;
  border-radius: 0.25rem;
}
