.footer .top {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}

.footer .top p {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: #ffffff;

  margin-bottom: 0.3rem;
  cursor: pointer;
}

.jobs {
  display: flex;
  align-items: center;
}

.round {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  height: 1.25rem;
  width: 1.25rem;
  margin-left: 0.25rem;

  border-radius: 50%;
  background-color: #ffffff;
  color: #1a181e;
}

.footer .bottom {
  margin-top: 2.5rem;
  padding: 2rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #ffffff;
}

.copyright,
.country {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
