.card_group {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 1rem;
  background-color: var(--text-color);
  color: var(--white-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  height: 1.75rem;
  width: 6.625rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
}

.card_group:nth-of-type(2n + 1) .tooltip {
  left: -7rem;
}

.card_group:nth-of-type(2n) .tooltip {
  right: -7rem;
}

.card_group:hover .tooltip {
  display: flex;
}

.card {
  background-color: #f2f2f2;
  border: 0.25rem;
  height: 3.75rem;
  width: 22rem;
  display: flex;
  align-items: center;

  padding: 0.5rem 1rem;

  line-height: 1.375rem;
  color: #1a181e;

  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .card {
    width: 18rem;
  }
}
