header {
  background-color: hsl(206, 80%, 39%);
  color: #ffffff;
  height: 20.5rem;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.results {
  color: #4d4d4d;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 10px;
  }
}
